<section class="cursos-section">

    <h4 class="titulo-cursos mb-4">
        Cursos que transforman tu futuro
    </h4>

    <div class="cursos-container" *ngIf="props?.cursos && props.cursos.length > 0">
        <!-- Botón Izquierdo -->
        <button class="nav-btn left" (click)="prevSlide()" *ngIf="props.cursos.length > itemsPerPage">
            <i class="bi bi-chevron-left"></i>
        </button>

        <!-- Ventana del Carrusel -->
        <div class="carousel-window">
            <div class="carousel-track" [style.transform]="'translateX(-' + (currentIndex * (100 / itemsPerPage)) + '%)'">
                <div class="curso-item" *ngFor="let curso of props.cursos">
                    <app-curso [data]="curso"></app-curso>
                </div>
            </div>
        </div>

        <!-- Botón Derecho -->
        <button class="nav-btn right" (click)="nextSlide()" *ngIf="props.cursos.length > itemsPerPage">
            <i class="bi bi-chevron-right"></i>
        </button>
    </div>

</section>